@charset "UTF-8";
/* font-family: 'Aleo', serif;
font-family: 'Magra', sans-serif;
font-family: 'Red Hat Text', sans-serif; */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid red; */
  /* подчеркивает каждый элемент карсным */
}

html {
  scroll-behavior: smooth;
  /* для плавной прокрутки */
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}

.btn {
  width: 228px;
  height: 59px;
  background: #0D606F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
}

.btn button {
  display: block;
  padding: 13.5px 32px;
  cursor: pointer;
  border: none;
  background: none;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}

.btn-small {
  width: 103px;
  height: 41px;
}

.btn-small button {
  padding: 10px 30px;
  font-size: 16px;
  line-height: 21px;
}

.title {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: #F2785C;
  text-align: center;
}

header .container {
  background-image: url("../img/background-header.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
}

header .nav {
  display: flex;
  justify-content: space-between;
  padding: 0 120px;
  align-items: center;
  height: 90px;
  background: rgba(242, 120, 92, 0.7);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}

header .nav__logo {
  font-family: 'Magra';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
}

header .nav__logo img {
  padding-right: 4px;
}

header .nav__logo p {
  display: inline-block;
  margin-left: -1px;
}

header .nav__list ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

header .nav__list ul li {
  padding-right: 42px;
}

header .nav__list ul li a {
  text-decoration: none;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.preview {
  height: 675px;
  background-image: url("../img/background-header.jpg");
  background-repeat: no-repeat;
  background-position: center calc(-1 * 90px);
  /*  background: url('../img/background-header.jpg') center no-repeat; */
}

.preview__container {
  width: 910px;
  height: 422px;
  padding: 35px 0 0 120px;
  font-family: 'Aleo';
  color: #FFFFFF;
}

.preview__container h1 {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
}

.preview__container p {
  padding-top: 29px;
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.preview__search {
  position: relative;
  padding-top: 46px;
}

.preview__search input {
  padding: 33px 0 41px 37px;
  width: 892px;
  height: 95px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  border: none;
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F2785C;
}

.preview__search .btn {
  position: absolute;
  right: -85px;
  top: 65px;
}

.steps {
  height: 424px;
}

.steps .title {
  padding-top: 80px;
}

.steps__items {
  padding: 40px 132px 0;
  display: flex;
  justify-content: space-between;
}

.steps__item img {
  display: block;
  margin: 0 auto;
}

.steps__item p {
  padding-top: 30px;
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
}

.destinations {
  height: 1069px;
}

.destinations .my__slider {
  padding-top: 46px;
}

.destinations .my__slider_btn {
  text-align: center;
  padding-top: 21px;
}

.destinations .my__slider_btn button {
  width: 20px;
  height: 20px;
  background: #f2785c;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  margin: 0 3px;
}

.destinations .btn {
  margin: 0 auto;
  margin-top: 37px;
}

.destinations .btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 32px;
}
