.footer {
    height: 61px;
    &__container {
        background-image: url('../img/background-footer.jpg');
        background-repeat: no-repeat;
        background-position: center calc(-1 * 1270px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 121px;
        .rights {
            padding-right: 111px;
            font-family: 'Red Hat Text';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 21px;
            color: #FFFFFF;
        }
        .social {
            width: 140px;
            &__list {
                display: flex;
                justify-content: space-between;
                align-items: center;
                list-style-type: none;
            }
        }
    }
    &__add {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        padding: 5px 0;
        a {
            font-family: 'Red Hat Text';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 21px;
            color: #FFFFFF;
            text-decoration: none;
        }
        &_img {
            height: 45px;
        }
    }
}